@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|Coming+Soon);
@media screen {
  html {
    font-family: "Open Sans", Calibri, "Lucida Grande", "Lucida Sans", Verdana, sans-serif; } }
@media print {
  html {
    font-family: "Droid Serif", Algegrea, Cambria, Georgia, "Times New Roman", Times, serif; } }
pre, code {
  font-family: "Courier New", Courier, monospace; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

html {
  background-color: #fdf6e3;
  color: #657b83;
  margin: 1em; }

code {
  background-color: #eee8d5;
  padding: 2px; }

a {
  color: #b58900; }

a:visited {
  color: #cb4b16; }

a:hover {
  color: #cb4b16; }

h1 {
  color: #d33682; }

h2, h3, h4, h5, h6 {
  color: #859900; }

pre {
  background-color: #fdf6e3;
  color: #657b83;
  border: 1pt solid #93a1a1;
  border-radius: 3pt;
  padding: 1em;
  box-shadow: 5pt 5pt 8pt #eee8d5;
  overflow: auto;
  white-space: pre;
  word-wrap: normal; }
  pre code {
    background-color: #fdf6e3; }

pre::-webkit-scrollbar {
  height: 7px;
  -webkit-appearance: none;
  width: 7px; }

pre::-webkit-scrollbar-thumb {
  background-color: #93a1a1;
  border-radius: 4px;
  box-shadow: 0 0 1px #93a1a1; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.15em; }

.tag {
  background-color: #eee8d5;
  color: #d33682;
  padding: 0 0.2em; }

.todo, .next, .done {
  color: #fdf6e3;
  background-color: #dc322f;
  padding: 0 0.2em; }

.tag {
  border-radius: 0.35em; }

.TODO {
  border-radius: 0.2em;
  background-color: #2aa198; }

.NEXT {
  border-radius: 0.2em;
  background-color: #268bd2; }

.ACTIVE {
  border-radius: 0.2em;
  background-color: #268bd2; }

.DONE {
  border-radius: 0.2em;
  background-color: #859900; }

.WAITING {
  border-radius: 0.2em;
  color: #cb4b16; }

.HOLD {
  border-radius: 0.2em;
  color: #d33682; }

.NOTE {
  border-radius: 0.2em;
  color: #d33682; }

.CANCELLED {
  border-radius: 0.2em;
  color: #859900; }

.marginnote {
  color: #657b83;
  border-radius: 1em;
  border: 2pt #93a1a1 solid;
  padding: 0 1em;
  margin: 0 0 0 10%;
  box-shadow: #eee8d5 5pt 5pt 8pt; }

.marginnote:before {
  content: "Note:";
  color: #859900;
  font-size: 1.15em; }

@media screen {
  #table-of-contents {
    font-size: 80%;
    padding: .5em;
    margin: 1em 0em 1em 1em;
    overflow: auto; }

  #table-of-contents ul {
    margin: 0em;
    padding: 0 0 0 1em; }

  #table-of-contents li {
    margin: .2em 0 .2em 0;
    list-style: none;
    padding: 0; }

  #table-of-contents h2 {
    margin-top: .2em;
    font-size: 1.0em; } }
@media screen and (min-width: 400px) {
  #table-of-contents {
    float: right;
    display: block;
    border: 1px solid #93a1a1;
    border-radius: 1em; } }
@media print {
  #table-of-contents {
    display: none; }

  #org-div-home-and-up {
    display: none; } }
